<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>509655907893-m8utg1slggpgaaa122c1t0rheutdukho.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.509655907893-m8utg1slggpgaaa122c1t0rheutdukho</string>
	<key>API_KEY</key>
	<string>AIzaSyCdNkan_9DX2dOKav3X0PN2gfhdyptVO_o</string>
	<key>GCM_SENDER_ID</key>
	<string>509655907893</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.apppagar</string>
	<key>PROJECT_ID</key>
	<string>meudim-93a5e</string>
	<key>STORAGE_BUCKET</key>
	<string>meudim-93a5e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:509655907893:ios:09435e64d43d87be37bb7c</string>
</dict>
</plist>